mark {
	position: relative;
	width: auto;
	display: block;
}

mark.message-warning, div.message-warning {
	background-color: #ff0;
}

mark.message-error, div.message-error {
	background-color: #f00;
}

mark .message-detail {
	position: absolute;
	top: 1em;
	right: 0;
	width: 50%;
	height: auto;
	opacity: 0.9;
	border: 2px solid #000;
	background-color: #fff;
}

code[class*="language-"], pre[class*="language-"], code [class*="language-"] * {
    white-space: pre-wrap !important;
    word-break: break-word !important;
	overflow: auto !important;
}