mark {
	position: relative;
	width: auto;
	display: block;
	margin: 2px 0 0 0;
	border: 0;
	padding: 0;
}

mark.message-warning, div.message-warning {
	background-color: #ffa;
}

mark.message-error {
	background-color: #faa;
}

div.message-error {
	border: 0 3em;
	margin: 0 3em;
	background-color: #faa;
}

div.message-warning {
	border: 0 3em;
	margin: 0 3em;
	background-color: #ffa;
}

mark .message-detail {
	position: absolute;
	top: 1em;
	right: 0;
	width: 50%;
	height: auto;
	opacity: 0.9;
	border: 2px solid #000;
	background-color: #fff;
}

code[class*="language-"], pre[class*="language-"], code [class*="language-"] * {
    white-space: pre-wrap !important;
    word-break: break-word !important;
	overflow: auto !important;
	padding: 0;
}