mark {
	position: relative;
	width: auto;
	display: block;
}

mark.error {
	background-color: #f00;
}

mark .message-detail {
	position: absolute;
	top: 1em;
	right: 0;
	width: 50%;
	height: auto;
	opacity: 0.9;
	border: 2px solid #000;
	background-color: #fff;
}